In [38]:
import pandas as pd
import numpy as np

In [39]:
pokemon = pd.read_csv('pokemon_data.csv')
combats = pd.read_csv('combats.csv')

In [40]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [41]:
type_1_list=pokemon['Type 1']
type_2_list=pokemon['Type 2']

type_1_list=pd.get_dummies(
    type_1_list,
    prefix=None,
    prefix_sep='_', 
    dummy_na=True, 
    columns=['Type 1'], 
    sparse=False, 
    drop_first=False, 
    dtype=int
)

type_2_list=pd.get_dummies(
    type_2_list,
    prefix=None,
    prefix_sep='_', 
    dummy_na=True, 
    columns=['Type 2'], 
    sparse=False, 
    drop_first=False, 
    dtype=int
)
all_type_list = type_1_list + type_2_list
all_type_list

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,NaN
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0

In [42]:
combined_dataset = pokemon.join(all_type_list)

In [43]:
combined_dataset

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,...,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,NaN
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,1,0,0,0,1,0,0,0,0,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,...,1,0,0,0,1,0,0,0,0,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,...,1,0,0,0,1,0,0,0,0,0
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,...,1,0,0,0,1,0,0,0,0,0
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,...,0,0,0,0,0,0,1,0,0,0
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,...,0,0,0,0,0,0,1,0,0,0
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,...,0,0,0,0,0,1,0,0,0,0
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,...,0,0,0,0,0,1,0,0,0,0
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,0,0,0,0,0,0,0,0,1,0

In [44]:
combined_dataset.drop(np.NaN, axis = 1, inplace= True)

In [45]:
combined_dataset

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,0,1,0,0,0,1,0,0,0,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,...,0,1,0,0,0,1,0,0,0,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,...,0,1,0,0,0,1,0,0,0,0
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,...,0,1,0,0,0,1,0,0,0,0
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,...,0,0,0,0,0,0,0,1,0,0
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,...,0,0,0,0,0,0,0,1,0,0
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,...,1,0,0,0,0,0,1,0,0,0
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,...,0,0,0,0,0,0,1,0,0,0
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,0,0,0,0,0,0,0,0,0,1

In [46]:
combined_dataset.pop('Type 1')
combined_dataset.pop('Type 2')
combined_dataset.pop('Name')
combined_dataset.pop('Generation')
combined_dataset.pop('Legendary')

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [47]:
combined_dataset

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Bug,Dark,Dragon,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,45,49,49,65,65,45,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,2,60,62,63,80,80,60,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,3,80,82,83,100,100,80,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,4,80,100,123,122,120,80,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,5,39,52,43,60,50,65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,50,100,150,100,150,50,0,0,0,...,0,0,0,0,0,0,0,1,0,0
796,797,50,160,110,160,110,110,0,0,0,...,0,0,0,0,0,0,0,1,0,0
797,798,80,110,60,150,130,70,0,0,0,...,1,0,0,0,0,0,1,0,0,0
798,799,80,160,60,170,130,80,0,1,0,...,0,0,0,0,0,0,1,0,0,0
799,800,80,110,120,130,90,70,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [48]:
def get_features(pokemon_id,pokemon):
    return (pokemon.iloc[pokemon_id - 1, 0::1])

In [49]:
get_features(23, pokemon)

#                  23
Name          Pidgeot
Type 1         Normal
Type 2         Flying
HP                 83
Attack             80
Defense            75
Sp. Atk            70
Sp. Def            70
Speed             101
Generation          1
Legendary       False
Name: 22, dtype: object

In [50]:
def rename_column(first_or_second, features):
     list_ = features.columns.to_list()
     if first_or_second:
          for i in range(len(list_)):
               list_[i] = 'First_' + list_[i] 

     else:
          for i in range(len(list_)):
               list_[i] = 'Second_' + list_[i] 

     features.columns = list_

In [51]:
first_pokemon = combined_dataset.copy()
rename_column(True, first_pokemon)

list_first = combats.iloc[:, 0].to_list()
temp_ = list()

for i in range(len(list_first)):
    temp_.append(get_features(list_first[i], first_pokemon).to_frame().T)

df_first_pokemon = pd.concat(temp_, ignore_index=True)
df_first_pokemon

,First_#,First_HP,First_Attack,First_Defense,First_Sp. Atk,First_Sp. Def,First_Speed,First_Bug,First_Dark,First_Dragon,...,First_Ghost,First_Grass,First_Ground,First_Ice,First_Normal,First_Poison,First_Psychic,First_Rock,First_Steel,First_Water
0,266,50,64,50,45,50,41,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,702,91,90,72,90,129,108,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,191,55,40,85,80,105,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,237,40,40,40,70,40,20,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,151,70,60,125,115,70,55,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,100,120,100,150,120,90,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49996,589,60,85,40,30,45,68,0,0,0,...,0,0,1,0,0,0,0,0,0,0
49997,303,60,50,100,85,70,65,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49998,109,40,30,50,55,55,100,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49999,9,78,104,78,159,115,100,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
temp_.clear()
second_pokemon = combined_dataset.copy()
rename_column(False, second_pokemon)

list_second = combats.iloc[:, 1].to_list()


for i in range(len(list_second)):
    temp_.append(get_features(list_second[i], second_pokemon).to_frame().T)

df_second_pokemon = pd.concat(temp_, ignore_index=True)
df_second_pokemon

,Second_#,Second_HP,Second_Attack,Second_Defense,Second_Sp. Atk,Second_Sp. Def,Second_Speed,Second_Bug,Second_Dark,Second_Dragon,...,Second_Ghost,Second_Grass,Second_Ground,Second_Ice,Second_Normal,Second_Poison,Second_Psychic,Second_Rock,Second_Steel,Second_Water
0,298,70,70,40,60,40,60,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,701,91,129,90,72,90,108,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,668,75,75,75,125,95,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,683,77,120,90,60,90,48,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,231,20,10,230,10,230,5,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,126,30,40,70,70,25,60,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49996,664,35,55,40,45,40,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49997,368,73,115,60,60,60,90,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49998,89,25,35,70,95,55,45,0,0,0,...,0,0,0,0,0,0,0,0,1,0
49999,73,70,80,50,35,35,35,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df_first_pokemon.drop('First_#', axis = 1, inplace=True)
df_second_pokemon.drop('Second_#', axis = 1, inplace=True)

In [54]:
df_first_pokemon

,First_HP,First_Attack,First_Defense,First_Sp. Atk,First_Sp. Def,First_Speed,First_Bug,First_Dark,First_Dragon,First_Electric,...,First_Ghost,First_Grass,First_Ground,First_Ice,First_Normal,First_Poison,First_Psychic,First_Rock,First_Steel,First_Water
0,50,64,50,45,50,41,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,91,90,72,90,129,108,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,55,40,85,80,105,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,40,40,70,40,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,70,60,125,115,70,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,100,120,100,150,120,90,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49996,60,85,40,30,45,68,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
49997,60,50,100,85,70,65,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49998,40,30,50,55,55,100,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49999,78,104,78,159,115,100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
df_second_pokemon

,Second_HP,Second_Attack,Second_Defense,Second_Sp. Atk,Second_Sp. Def,Second_Speed,Second_Bug,Second_Dark,Second_Dragon,Second_Electric,...,Second_Ghost,Second_Grass,Second_Ground,Second_Ice,Second_Normal,Second_Poison,Second_Psychic,Second_Rock,Second_Steel,Second_Water
0,70,70,40,60,40,60,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,91,129,90,72,90,108,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,75,75,75,125,95,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,77,120,90,60,90,48,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,20,10,230,10,230,5,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,30,40,70,70,25,60,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49996,35,55,40,45,40,60,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49997,73,115,60,60,60,90,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49998,25,35,70,95,55,45,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
49999,70,80,50,35,35,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
training_df = pd.concat([df_first_pokemon, df_second_pokemon], axis=1)
training_df

,First_HP,First_Attack,First_Defense,First_Sp. Atk,First_Sp. Def,First_Speed,First_Bug,First_Dark,First_Dragon,First_Electric,...,Second_Ghost,Second_Grass,Second_Ground,Second_Ice,Second_Normal,Second_Poison,Second_Psychic,Second_Rock,Second_Steel,Second_Water
0,50,64,50,45,50,41,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,91,90,72,90,129,108,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,55,40,85,80,105,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,40,40,40,70,40,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,70,60,125,115,70,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,100,120,100,150,120,90,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
49996,60,85,40,30,45,68,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49997,60,50,100,85,70,65,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49998,40,30,50,55,55,100,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
49999,78,104,78,159,115,100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
class_labels = []

x = combats.iloc[:,2].to_list()

for i in range(len(x)):
    if (x[i] == list_first[i]):
        class_labels.append(1)
    else:
        class_labels.append(0)

In [59]:
len(class_labels)

50000

In [60]:
training_df['target'] = class_labels

In [61]:
training_df

,First_HP,First_Attack,First_Defense,First_Sp. Atk,First_Sp. Def,First_Speed,First_Bug,First_Dark,First_Dragon,First_Electric,...,Second_Grass,Second_Ground,Second_Ice,Second_Normal,Second_Poison,Second_Psychic,Second_Rock,Second_Steel,Second_Water,target
0,50,64,50,45,50,41,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,91,90,72,90,129,108,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,55,40,85,80,105,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,40,40,40,70,40,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,70,60,125,115,70,55,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,100,120,100,150,120,90,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
49996,60,85,40,30,45,68,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49997,60,50,100,85,70,65,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49998,40,30,50,55,55,100,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
49999,78,104,78,159,115,100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [62]:
training_df.to_csv("Final_dataset.csv", index = False)